<nav class="navbar bg-transparent navbar-inverse navbar-header navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Megapotek</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <div class="col-sm-3">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-5">
                <form class="navbar-form" role="search" method="GET">
                    <input class="form-control navbar-search-custom" style="width: 80%" type="text" placeholder="Search" value="" autocomplete="off" data-toggle="popover" data-content="Press enter to search" data-placement="bottom">
                </form>
            </div>
            <div class="col-sm-2">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>

        </div>
    </div>
</nav>
